---
descriptor_schema: "https://raw.githubusercontent.com/sonata-nfv/tng-schema/master/function-descriptor/vnfd-schema.yml"

vendor: "eu.5gtango"
name: "vnf-youtube"
version: "0.5"
author: "Robert Muller"
description: "Youtube VNF descriptor."

cloudnative_deployment_units:
  - id: "cdu01"
    image: vastor80/5gtangoyoutube:latest
    connection_points:
      - id: "int-youtube"
        port: 50005
  - id: "cdu02"
    image: pkarkazis/tng-stats-collector:latest
    parameters:
      env:
        VNF_STATS_URL: http://localhost:50010/status
        PW_URL: pushgateway.sonata.svc.cluster.local:9091
        INTERVAL: 2
# VNF connection points to the outside world
connection_points:
  - id: "youtube"
    interface: "ipv4"
    type: "serviceendpoint"
    port: 50005

# CNFs only use E-Tree links to map external ports to internal ports
virtual_links:
  - id: "youtube-link"
    connectivity_type: "E-Tree"
    connection_points_reference:
      - "youtube"
      - "cdu01:int-youtube"
